<div class="home-component" #spinnner *ngIf="!isLoading; else spinner">
  <!-- Hero Section -->
  <section id="hero">
    <div class="nav-bar">
      <div class="toggleBar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
          (click)="toggleSidebar()"
          [ngClass]="{ rotateToggle: isCollapsed }"
        >
          <path
            d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"
          />
        </svg>
      </div>
      <div class="hero-nav" [ngClass]="{ collapsed: isCollapsed }">
        <div class="logo">
          <img src="images/logo.png" alt="this is image" />
        </div>
        <nav class="nav-links">
          <ul class="links" [ngClass]="{ collapsed: isCollapsed }">
            <li><a [routerLink]="['/']" fragment="hero">Home</a></li>
            <li><a [routerLink]="['/']" fragment="features">Features</a></li>
            <li><a [routerLink]="['/']" fragment="about">About Us</a></li>
            <li><a [routerLink]="['/']" fragment="cta">Get Started</a></li>
            <li><a [routerLink]="['/']" fragment="contact">Contact Us</a></li>
          </ul>
        </nav>
        @if ((auth.isAuthenticated$ |async ) === false) {
        <div class="login-btn">
          <button (click)="onLogin()">Login</button>
        </div>
        }
      </div>
    </div>

    <div class="hero-content">
      <h1>Revolutionize Your Learning Experience with LearnPro</h1>
      <p>An AI-Powered Assistant for Academic and Career Success.</p>
      <div class="started-btns">
        <button (click)="onLogin()">Get Started</button>
      </div>
    </div>
  </section>

  <!-- Key Features Section -->
  <section id="features">
    <h2>Why Choose LearnPro?</h2>
    <div class="feature-section-cards">
      <div class="feature">
        <i class="fas fa-calendar-alt feature-icon"></i>
        <h3>Schedule Planning</h3>
        <p>Seamlessly organize your academic schedule with reminders.</p>
      </div>
      <div class="feature">
        <i class="fas fa-tasks feature-icon"></i>
        <h3>Task Management</h3>
        <p>Prioritize and track tasks for efficient completion.</p>
      </div>
      <div class="feature">
        <i class="fas fa-question-circle feature-icon"></i>
        <h3>AI-Generated Quizzes</h3>
        <p>Reinforce learning with tailored quizzes.</p>
      </div>
      <div class="feature">
        <i class="fas fa-chart-line feature-icon"></i>
        <h3>Performance Analysis</h3>
        <p>Gain insights into your strengths and areas of improvement.</p>
      </div>
      <div class="feature">
        <i class="fas fa-book feature-icon"></i>
        <h3>Resource Recommendations</h3>
        <p>Access curated study materials.</p>
      </div>
      <div class="feature">
        <i class="fas fa-robot feature-icon"></i>
        <h3>Chatbot Assistance</h3>
        <p>Instant academic support at your fingertips.</p>
      </div>
      <div class="feature">
        <i class="fas fa-briefcase feature-icon"></i>
        <h3>Career Guidance</h3>
        <p>Get personalized advice for your future.</p>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <h2>What Makes Us Unique?</h2>
    <p>
      LearnPro combines academic management and career planning in one platform.
      AI-driven features deliver personalized experiences tailored to individual
      goals.
    </p>
  </section>

  <!-- Call to Action Section -->
  <section id="cta">
    <h2>Ready to Achieve Your Goals?</h2>
    <p>
      Join thousands of students transforming their academic journey with
      LearnPro.
    </p>
    <button (click)="onLogin()">Sign Up Now</button>
  </section>

  <!-- Footer Section -->
  <footer id="contact">
    <p>saitejassp2580&#64;gmail.com</p>
    <p>+91-9392887812</p>
    <div class="social-links">
      <a href="https://www.instagram.com/karanamsai2580/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <span class="separator">|</span>
      <a
        href="https://www.linkedin.com/in/sai-teja-karanam-a7aab1290/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </footer>

  <div
    class="scroll-top"
    (click)="scrollToTop()"
    [class.visible]="showScrollTop"
  >
    <i class="fas fa-arrow-up"></i>
  </div>
</div>

<ng-template #spinner>
  <app-spinner #spinner></app-spinner>
</ng-template>
