@import "ngx-toastr/toastr";

:root {
  /* Background Colors */
  --background-body: #1e1e1e; /* Main dark gray background */
  --background-section: #3c8dc3; /* Soft electric blue section background */
  --background-gradient-start: #3e3cc3; /* Gradient start (deep purple) */
  --background-gradient-end: #151515; /* Gradient end (near black) */

  /* Text Colors */
  --text-primary: #ffffff; /* Body text color (white) */
  --text-heading: #00e8e8; /* Neon cyan for headings */
  --text-subheading: #c0c0c0; /* Metallic silver for subheadings */
  --text-link: #1db4ff; /* Electric blue for links */
  --text-link-hover: #1488cc; /* Darker electric blue for link hover */

  /* Accent Colors */
  --accent-button: #3c8dc3; /* Electric blue button background */
  --accent-button-hover: #325a7c; /* Slightly darker blue on hover */
  --accent-button-text: #ffffff; /* White button text */

  /* Border and Shadow Colors */
  /* --border-color: #2c2c2c; /* Dark border color */
  --shadow-color: rgba(0, 0, 0, 0.4); /* Shadow for buttons/sections */
  --shadow-color-light: rgba(255, 255, 255, 0.1);

  /* Icon and Line Colors */
  --icon-line: #5a5a5a; /* Neutral gray for lines and dividers */
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--text-link);
}
a:hover {
  color: var(--text-link-hover);
}
li {
  list-style-type: none;
}

body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  background-color: var(--background-body);
  color: var(--text-primary);
}

html {
  scroll-behavior: smooth;
}
