@import "ngx-toastr/toastr";
@import "tailwindcss";

:root {
  /* Background Colors */
  --background-body: #1e1e1e;
  --background-card: #3c8dc3;
  --background-gradient-start: #3e3cc3;
  --background-gradient-end: #151515;

  /* Text Colors */
  --text-primary: #ffffff;
  --text-heading: #00e8e8;
  --text-subheading: #c0c0c0;
  --text-link: #1db4ff;
  --text-link-hover: #1488cc;
  --text-dark: #042334;

  /* Accent Colors */
  --accent-button: #3c8dc3;
  --accent-button-dark: #1e1e1e;
  --accent-button-hover: #325a7c;
  --accent-button-text: #ffffff;

  /* Border and Shadow Colors */
  --border-color: #2c2c2c;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --shadow-color-light: rgba(255, 255, 255, 0.1);

  /* Icon and Line Colors */
  --icon-line: #5a5a5a;
  --input-background: #90b8d2;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */
* {
  
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--text-link);
}
a:hover {
  color: var(--text-link-hover);
}
li {
  list-style-type: none;
}

body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  background-color: var(--background-body);
  color: var(--text-primary);
}

html {
  scroll-behavior: smooth;
}
