<div *ngIf="quizResponse" class="quiz-container">
  <h2>{{ quizResponse.topic }}</h2>
  <div
    *ngFor="let question of quizQuestions; let qIndex = index"
    class="question"
  >
    <h3>{{ qIndex + 1 }}.{{ question.question }}</h3>
    <div
      *ngFor="let option of question.options; let oindex = index"
      (click)="selectAnswer(qIndex, option)"
    >
      <p
        class="option"
        [ngClass]="{ selected: selectedAnswers[qIndex] === option }"
      >
        {{ oindex + 1 }}.{{ option }}
      </p>
    </div>
  </div>
  <button (click)="onSubmit()" class="submit">Submit Quiz</button>
</div>
