section {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse; /* Removes spacing between borders */
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th,
td {
  border: 1px solid #ddd; /* Adds borders */
  padding: 10px; /* Adds spacing inside cells */
}

th {
  background-color: var(--text-link-hover); /* Header background color */
  color: white; /* Header text color */
  font-weight: bold;
}

caption {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-button);
  color: var(--accent-button-text);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.05rem;
  font-weight: 600;
}
