<div class="quiz-container" *ngIf="!isLoading; else spinner">
  <h1 class="quiz-header">Quiz generator</h1>
  <div class="quiz-input">
    <form class="input-form" [formGroup]="quizForm" (ngSubmit)="startQuiz()">
      <div class="topic input-field">
        <label for="name">Topic Name</label>
        <input
          type="text"
          name="TopicName"
          id="name"
          placeholder="Enter Topic Name"
          formControlName="topicName"
        />
        <div class="text-danger">
          @if
          (quizForm.controls["topicName"].touched&&quizForm.controls['topicName'].errors?.['required'])
          {
          <span>Topic Should Not be empty</span>
          }
          @if(quizForm.controls["topicName"].touched&&quizForm.controls['topicName'].errors?.['minlength'])
          {
          <span>Enter Topic Correctly (Min 3 Chars)</span>
          }
        </div>
      </div>
      <div class="difficulty input-field">
        <label for="level">Difficulty Level</label>
        <select name="DifficultyLevel" id="level" formControlName="difficulty">
          <option value="">Select</option>
          <option value="Low">Low</option>
          <option value="Intermediate">Medium</option>
          <option value="Advanced">High</option>
        </select>
        <div class="text-danger">
          @if
          (quizForm.controls["difficulty"].touched&&quizForm.controls['difficulty'].errors?.['required'])
          {
          <span>Select Dificulty</span>
          }
        </div>
      </div>
      <div class="type input-field">
        <label for="type">Type of Questions</label>
        <select name="typeofqna" id="type" formControlName="type">
          <option value="">Select</option>
          <option value="Theoritical">Theoritical</option>
          <option value="Numerical">Numerical</option>
        </select>
        @if
        (quizForm.controls["type"].touched&&quizForm.controls['type'].errors?.['required'])
        {
        <span>Select Dificulty</span>
        }
      </div>

      <div class="submit-btn">
        <button type="submit" class="gen-btn" [disabled]="quizForm.invalid">
          Generate Quiz
        </button>
      </div>
    </form>
  </div>
  <div class="quiz-questions">
    <!-- Display quiz questions only if rted is true -->
    <form
      action=""
      #quizFormTemp="ngForm"
      (ngSubmit)="submitQuiz(quizFormTemp)"
      class="ques-form"
    >
      @if (quizStarted) {
      <div
        *ngFor="let quiz of quizResponse.quiz; let i = index"
        class="quiz-question"
      >
        <p>{{ i + 1 }}. {{ quiz.question }}</p>
        <div class="options">
          <!-- Loop through options for the current quiz question -->
          <div
            *ngFor="let option of quiz.options; let j = index"
            class="option"
          >
            <input
              type="radio"
              [id]="'opt' + i + '-' + j"
              name="answer{{ i }}"
              [value]="option"
              [(ngModel)]="quizData.answers[i]"
              #answerInput="ngModel"
              required
            />
            <label [for]="'opt' + i + '-' + j">{{ option }}</label>
          </div>
        </div>
      </div>
      <div class="submit-btn">
        <button class="gen-btn" >
          Submit Quiz
        </button>
      </div>
      }
    </form>
  </div>
</div>

<ng-template #spinner>
  <app-spinner #spinner></app-spinner>
</ng-template>
